@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap")

* {
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    color: teal;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

#btn {
    background-color: purple;
    position: absolute;
    color: white;
    margin-top: 500px;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: none;
}

#btn2 {
    background-color: purple;
    position: absolute;
    color: white;
    margin-bottom: 500px;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: none;

}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0;
    transform: translate(2px, 2px);
}

.heart {
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;

}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}